@font-face {
    font-family: fb;
    src: url(/assests/fonts/Segoe\ UI\ Historic.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
    /* overflow-x: hidden; Prevent horizontal scrolling */
    font-family: fb;

}

html,
body {
    width: 100%;
    background-color: #efefef;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-container {
    position: relative;
    align-items: center;
    justify-content: space-around;
    /* max-width: 1120px; */
    /* margin: 0 auto; */
    display: flex;
    width: 100dvw;
    padding: 0px 2dvw;
}

.x-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.x-col-12 {
    width: 100%;
    flex: 0 0 100%;
    padding: 15px;
}

.x-col-6 {
    width: 50%;
    flex: 0 0 50%;
    padding: 15px;
}

.x-col-3 {
    width: 33.33%;
    flex: 0 0 33.33%;
    padding: 15px;
}

.x-col-4 {
    width: 25%;
    flex: 0 0 25%;
    padding: 15px;
}

.x-col-5 {
    width: 20%;
    flex: 0 0 20%;
    padding: 15px;
}

.x-col-8 {
    width: 66.66%;
    float: 0 0 66.66%;
    padding: 15px;
}

.x-col-45 {
    width: 33.34%;
    flex: 0 0 33.34%;
    padding: 15px;
}

.x-col-30 {
    width: 30%;
    flex: 0 0 30%;
    padding: 15px;
}

.x-col-40 {
    width: 40%;
    flex: 0 0 40%;
    padding: 15px;
}

.x-col-50 {
    width: 50%;
    flex: 0 0 50%;
    padding: 15px;
}

.header {
    width: 100%;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    top: 0;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.left .logo {
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;
}

.left .logo img {
    width: 100%;
    border-radius: 50%;
}

.left .search-box {
    width: 230px;
    height: 40px;
    background-color: #efefef;
    border-radius: 20px;
    margin-left: 4px;
    padding: 0 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
}

.search-box input {
    background-color: #efefef;
    border: none;
    outline: none;
    padding: 4px;
}

.center {
    margin-right: 30px;
}

.center i {
    width: 100px;
    background: none;
    border-radius: 10px;
    margin-left: 12px;
    font-size: 22px;
    padding: 13px 30px;
    color: #646462;
}

.center .bxs-home {
    color: #3636f8;
    position: relative;
}

.center .bxs-home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 6px;
    background: #3636f8;
}

.center a i:hover {
    background-color: #efefef;
    color: #252525;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    object-position: center;
    line-height: 45px;
    margin-right: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.right i {
    background: #efefef;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 8px;
    padding: 10px;
    font-size: 22px;
}

.right i:hover {
    background-color: #b9b7b7;
}

/* drop down menu start here */
.card-menu-wrap {
    position: absolute;
    top: 100%;
    right: 20px;
    overflow-y: scroll;
    max-height: 0px;
    transition: max-height 0.5s;
}

.open-menu {
    max-height: 400px;
}

.card-menu {
    width: 400px;
    background-color: #fff;
    border-radius: 7px;
    padding: 14px;
}

.card-menu-items {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    color: #252525;
    border-radius: 8px;
    padding: 5px 0px;
}

.card-menu-items:hover {
    background: #efefef;
}

.card-menu-items p {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.card-menu-items span {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-menu-items i {
    width: 40px;
    background-color: #e5e5e5;
    padding: 8px;
    margin-left: 15px;
    border-radius: 50%;
    color: #252525;
    margin: 5px;
}

.profile-menu {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 12px 0;
    margin-bottom: 15px;
}

.profile-menu p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 550px;
}

.homepage {
    width: 100%;
    position: relative;
    /* padding-top: 40px; */
    padding-bottom: 100px;
    /* margin-top: 60px; */
}

.main-home-left {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; */
    position: fixed;
    height: 100vh;
    margin-top: 60px;
    overflow-y: scroll;
}

.profile-left-bar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.main-home-left:hover {
    background: #f2f2f2;
}

.profile-left-bar {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    padding: 8px 4px;
}

.profile-left-bar:hover {
    background: #959494;
    border-radius: 7px;
}

.profile-left-bar p {
    padding: 14px 0;
    font-size: 14px;
}

.profile-left-bar i {
    margin: 5px;
    font-size: 24px;
}

.main-home-left hr {
    border: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
}

.shortcuts {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* margin: 0 12px; */
}

.shortcuts p {
    font-size: 16px;
    /* margin: 8px; */
}

.shortcuts a {
    font-size: 13px;
    text-decoration: none;
    color: #252525;
    padding-right: 1vw;
}

/* ||||||||||||||center sectin css */

.social-main {
    height: auto;
    background: #f2f2f2;
    border-radius: 10px;
    /* padding: 20px 20px 0; */
    padding-top: 60px;
    padding-bottom: 30px;
}

.top-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #fff;
    /* padding: 20px; */
}

.stories {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
}

.stories img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.upload {
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 70px;
    background: #fff;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
}

.upload i {
    font-size: 19px;
    color: white;
    background-color: royalblue;
    border-radius: 50%;
    padding: 4px;
    /* margin-left: 38px; */
}

.upload p {
    font-size: 14px;
}

.f-profile {
    position: relative;
    bottom: 99%;
    padding: 0 9px;
}

.f-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(23, 188, 23);
}

.f-profile p {
    color: #fff;
    font-size: 12px;
}

/* create post */
.create-post {
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgb(0, 0, 0, 0.3);
    margin: 10px 0;
}

.create-post .p-top {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.p-top img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.p-top input {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    border: none;
    font-size: 15px;
}

.p-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

.p-bottom .post-i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 25px;
    cursor: pointer;
}

.p-bottom .post-i:hover {
    background: #efefef;
    border-radius: 8px;
}

.post-i i.red {
    font-size: 20px;
    color: red;
    margin-right: 8px;
}

.post-i i.green {
    font-size: 20px;
    color: green;
    margin-right: 8px;
}

.post-i i.yellow {
    font-size: 20px;
    color: yellow;
    margin-right: 8px;
}

.post-i p {
    font-size: 12px;
}

.friend-post {
    margin: 10px 0;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.friends-ptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.friends-ptop .img-name {
    display: flex;
    align-items: center;
}

.friends-ptop .img-name img {
    height: 40px;
    object-fit: cover;
    width: 40px;
    border-radius: 50%;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.friendName {
    font-weight: 600;
    cursor: pointer;
}

.friendName:hover {
    text-decoration: underline;
}

.friendName .time {
    font-size: 10px;
    color: #919191;
    margin: 3px 0;
}

.friendName .time i {
    font-size: 10px;
}

.menu i {
    font-size: 20px;
    cursor: pointer;
}

.p-icons i {
    font-size: 22px;
}

.p-icons i.like {
    color: #3636f8;
}

.p-icons i.heart {
    color: red;
}

.p-icons i.emoji {
    color: rgb(227, 199, 42);
}

.img-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
}

.img-info span,
.p-icons span {
    font-size: 13px;
    color: #646462;
}

/* right-side-bar */
/* .main-right-bar{
    position: fixed;
    background: #f2f2f2;
    margin-right: 10px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 68px;
    padding: 8px 4px;
}
.main-right-bar:hover {
    background: #ccc;
    border-radius: 7px;
} */

/* .main-right-bar:hover {
    background: #f2f2f2;
} */

.main-right-bar {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    padding: 8px 4px;
    /* margin-top: 10vh; */
    overflow-y: scroll;
    position: fixed;
    width: 33%;
    top: 10vh;
    height: 85vh;
    left: 75vw;
    padding-left: 2vw;
    padding-top: 30vh;
}

.f-req {
    padding-top: 2dvh;
}

.main-right-bar:hover {
    background: whitesmoke;
    border-radius: 7px;
}

.adv-box {
    padding: 8px 4px;
}

.adv-link {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 7px;
    padding: 5px;
}

.adv-link img {
    width: 70px;
    border-radius: 8px;
    margin: 6px 3px;
}

.adv-link p a {
    font-weight: 500;
    font-size: 12px;
    color: #252525;
    padding: 14px 0;
    text-decoration: none;
}

hr {
    width: 100%;
    height: 1px;
    background: none;
    color: #b9b7b7;
}

.page-prof {
    padding: 10px 0;
}

.page-link {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.page-link p {
    padding: 14px 0;
    font-size: 15px;
    font-weight: bold;
    color: #252525;
    margin-left: 15px;
}

.page-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.page-prof-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin: 5px 0; */
}

.page-prof-item i {
    font-size: 28px;
    padding: 8px;
    align-items: center;
    text-align: center;
    /* margin-left: 11%;  */
}

.page-prof-item p {
    font-size: 14px;
}

@media screen and (max-width:780px) {
    .x-col-4{
        display: none;
    }
    .center,.right, .card-menu-wrap{
        display: none;
    }
    .x-col-50{
        width: 100%;
        flex: 0 0 100%;
    }
}
@media screen and (max-width:480px) {
    .x-col-4{
        display: none;
    }
    .center,.right, .card-menu-wrap{
        display: none;
    }
    .x-col-50{
        width: 100%;
        flex: 0 0 100%;
    }
}